/* Define your theme modifications inside next mixin */
@mixin com_company_truonghoc-helium-ext {
    .c-login-main-login-layout {
        width: 100%;
        height: 100%;
        .c-login-panel {
            border: 5px red solid;
            border-radius: 45px;
             color: black;
                        background: rgba(255, 255, 255, 0.4);
        }
        color: black;
            background: rgba(255, 255, 255, 0.4);
    }
    .css-layout-danhsachluongthang {
        width: 100%;
        height: 100%;
        .csstimkiem {
            width: 100%;
            .v-slot-csstimkiemdonvi {
                width: 50%;
            }
            .v-slot-csstimkiemngaythang {
                width: 50%;
            }
        }
    }
    .css-brower-hocphi {
        .css-hbox-search {
            border: 2px #1b8900 solid;
            padding: 20px;
            border-radius: 15px;
            .Btntimkiem {
                background-color: #34c2ff;
                border-radius: 10px;
                border: 3px #008146 solid;
                font-size: 15px;
            }
        }
    }
    .css-layout-danhsachluongthang {
        .css-hbox-search {
            border: 2px #1b8900 solid;
            padding: 20px;
            border-radius: 15px;
            .Btntimkiem {
                background-color: #34c2ff;
                border-radius: 10px;
                border: 3px #008146 solid;
                font-size: 15px;
            }
        }
    }
    .css-layout-thutienhocphi {
        .css-hbox-search {
            border: 2px #1b8900 solid;
            padding: 20px;
            border-radius: 15px;
            .Btntimkiem {
                background-color: #34c2ff;
                border-radius: 10px;
                border: 3px #008146 solid;
                font-size: 15px;
            }
        }
    }
    .css-layout-thuchi {
        .css-hbox-search {
            border: 2px #1b8900 solid;
            padding: 20px;
            border-radius: 15px;
            .Btntimkiem {
                background-color: #34c2ff;
                border-radius: 10px;
                border: 3px #008146 solid;
                font-size: 15px;
            }
        }
    }
    .css-layout-baocao {
        width: 100%;
        height: 100%;
        .css-tabsheet {
            width: 100%;
            height: 100%;
            .css-tab1 {
                width: 100%;
                height: 100%;
                .css-hbox-search {
                            border: 2px #1b8900 solid;
                            padding: 20px;
                            border-radius: 15px;
                            .Btntimkiem {
                                background-color: #34c2ff;
                                border-radius: 10px;
                                border: 3px #008146 solid;
                                font-size: 15px;
                            }
                        }
                .css-vbox-timkiem {
                    border: 2px black solid;
                    border-radius: 15px;
                    padding: 20px;
                }
            }
        }
    }
    .css-layout-luongthang {
        width: 100%;
        .css-scrollBox {
            width: 100%;
            .css-form {
                width: 100%;
                .css-hbox-form {
                    width: 100%;
                    .css-vbox-trai {
                        width: 50%;
                    }
                    .css-vbox-phai {
                        width: 50%;
                        .css-timkiem {
                            width: 100%;
                            .css-button-color-timkiem {
                                background-color: #deb887;
                                color: black;
                                border: 1px red solid;
                                border-radius: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
    .css-layout-diemdanh {
        .css-hbox-search {
            border: 2px #1b8900 solid;
            padding: 20px;
            border-radius: 15px;
            .Btntimkiem {
                background-color: #34c2ff;
                border-radius: 10px;
                border: 3px #008146 solid;
                font-size: 15px;
            }
        }
    }
    .css-layout-chamconggv {
        .css-hbox-search {
            border: 2px #1b8900 solid;
            padding: 20px;
            border-radius: 15px;
            .Btntimkiem {
                background-color: #34c2ff;
                border-radius: 10px;
                border: 3px #008146 solid;
                font-size: 15px;
            }
        }
    }
    .css-layout-hocsinh {
        .css-hbox-search {
            border: 2px #1b8900 solid;
            padding: 20px;
            border-radius: 15px;
            .Btntimkiem {
                background-color: #34c2ff;
                border-radius: 10px;
                border: 3px #008146 solid;
                font-size: 15px;
            }
        }
    }
    .css-layout-giaovien {
        .css-hbox-search {
            border: 2px #1b8900 solid;
            padding: 20px;
            border-radius: 15px;
            .Btntimkiem {
                background-color: #34c2ff;
                border-radius: 10px;
                border: 3px #008146 solid;
                font-size: 15px;
            }
        }
    }
    .css-layout-lophoc {
        .css-hbox-search {
            border: 2px #1b8900 solid;
            padding: 20px;
            border-radius: 15px;
            .Btntimkiem {
                background-color: #34c2ff;
                border-radius: 10px;
                border: 3px #008146 solid;
                font-size: 15px;
            }
        }
    }
    .css-layout-tenlop {
        .css-hbox-search {
            border: 2px #1b8900 solid;
            padding: 20px;
            border-radius: 15px;
            .Btntimkiem {
                background-color: #34c2ff;
                border-radius: 10px;
                border: 3px #008146 solid;
                font-size: 15px;
            }
        }
    }
    .css-layout-userExt{
        .css-hbox-search {
                    border: 2px #1b8900 solid;
                    padding: 20px;
                    border-radius: 15px;
                    .Btntimkiem {
                        background-color: #34c2ff;
                        border-radius: 10px;
                        border: 3px #008146 solid;
                        font-size: 15px;
                    }
                }
    }
}
